<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/chart.min.js")
    @Scripts.Render("~/Scripts/jquery-3.5.1.js")
    @Scripts.Render("~/Scripts/Chart.min.js")
    @Scripts.Render("~/Scripts/Common.js")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                @Html.ActionLink("Bike Store", "Index", "products", null, new { @class = "nav-link" })

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            @Html.ActionLink("Products", "Index", "products", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Orders", "Index", "orders", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Report", "Report", "Home", null, new { @class = "nav-link" })
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
    $(document).ready(function () {
        $('#details_form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);

            $.post($form.attr("action"), $form.serialize()).done(function (res) {
                $mymodal = $("#myModal");
                //update the modal's body with the response received
                $mymodal.find("div.modal-body").html(res);
                // Show the modal
                $mymodal.modal("show");
            });
        });
    });
    </script>
</body>
</html>